@import "tailwindcss";
@import "@repo/tailwind-config";

/* Theme colors */
@layer base {
  :root {
    --color-background: #ffffff;
    --color-foreground: #171717;
  }

  :root.dark {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    background: var(--color-background);
    color: var(--color-foreground);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
